body {
  background: black;
}

#pacman {
  position: absolute;
  background: url('images/pacman.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  position: relative;
}

.row {
  font-size: 0;
}

.brick {
  height: 30px;
  width: 30px;
  background: blue;
  display: inline-block;
}

.coin {
  height: 30px;
  width: 30px;
  background: url('images/coin.gif');
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.empty {
  height: 30px;
  width: 30px;
  background: blue;
  display: inline-block;
}
