body {
  background: black;
  margin: 30px;
}

#pacman {
  height: 30px;
  width: 30px;
  position: absolute;
  background: url('images/pacman.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

#ghost1 {
  height: 30px;
  width: 30px;
  position: absolute;
  background: url('images/ghost1.gif');
  background-size: contain;
  background-repeat: no-repeat;
}
#ghost2 {
  height: 30px;
  width: 30px;
  position: absolute;
  background: url('images/ghost2.gif');
  background-size: contain;
  background-repeat: no-repeat;
}
#ghost3 {
  height: 30px;
  width: 30px;
  position: absolute;
  background: url('images/ghost3.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  position: relative;
}

.row {
  font-size: 0;
}

.brick {
  height: 30px;
  width: 30px;
  background: blue;
  display: inline-block;
}

.coin {
  height: 30px;
  width: 30px;
  background: url('images/coin.gif');
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.empty {
  height: 30px;
  width: 30px;
  background: black;
  display: inline-block;
}
