<div class="container-fluid">
  <div class="card">
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Preferred Position</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.position }}</td>
              <td><button type="submit" class="btn btn-danger btn-block" (click)="delete(player._id)">DELETE</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
