body {
  text-align: center;
}

#reg {
  width: 50vw;
}

#log {
  width: 40vw;
}

.alert-dismissable {
  margin-top: 10px;
  margin-bottom: 2px;
}

#content-container {
  max-width: 95vw;
  margin: 20px auto;
}
