{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h1>Hello, {{ user }}!</h1>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-md-5">
        <div id="button-container">
          <form class="form-inline" action="{% url 'add_book' %}">
            <button type="submit" class="btn btn-primary">Add and Review Book</button>
          </form>
          <form class="form-inline" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>Recent Book Reviews:</h2>
        <div class="container-fluid">
          <div class="review">
            {% for book in books %}
            {% for author in book.auth.all %}
              <h3><a href="/book/{{ book.id }}">{{ book }}</a> by {{ author }}</h3>
              {% endfor %}
              {% for text in book.review.all %}
                <h4>"{{ text.text }}"</h4>
                <h6>Posted by {{ text.created_by }} on {{ text.created_at }}</h6>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>Other Books with Reviews:</h3>
      </div>
    </div>
  </div>
</main>

{% endblock %}
