{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
<header>
  <h1>Welcome!</h1>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <form class="form" action="/register" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Register</legend>
            <input type="text" name="name" class="form-control" placeholder="Name">
            <input type="text" name="alias" class="form-control" placeholder="Alias">
            <input type="text" name="email" class="form-control" placeholder="Email">
            <input type="password" name="password" class="form-control" placeholder="Password">
            <input type="password" name="confirm" class="form-control" placeholder="Confirm Password">
            <button type="submit" name="register" class="btn btn-block btn-primary">Register</button>
          </fieldset>
        </form>
      </div>
      <div class="col">
        <form class="form" action="/login" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Login</legend>
            <input type="text" name="alias" class="form-control form-control-lg" placeholder="Alias">
            <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
            <button type="submit" name="register" class="btn btn-block btn-primary btn-lg">Register</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
