<div class="container-fluid">
  <div class="card">
    <div class="card-block">
      <div class="d-inline-flex">
        <h5><a href="status/game/1">Game 1</a> | <a href="status/game/2">Game 2</a> | <a href="status/game/3">Game 3</a></h5>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <div *ngFor="let player of players">
  <p>{{ player | json }}</p>
  <p>{{ player.status[0].game1 | json }}</p>
  <p>{{ player.status[1].game2 | json }}</p>
  <p>{{ player.status[2].game3 | json }}</p>
</div> -->
