<div class="container" id="content">
  <h1 id="title"><i class="fa fa-bolt"></i> <span style="text-decoration:underline">{{ title }}</span></h1>

  <app-nav></app-nav>

  <router-outlet></router-outlet>

  <!-- <button (click)="getWeather()">GET WEATHER</button>
  <br>
  {{ weather.name }}
  <br>
  Current: {{ weather.main.temp }}°F
  <br>
  High: {{ weather.main.temp_max  }}°F
  <br>
  Low: {{ weather.main.temp_min }}°F
  <br>
  Humidity: {{ weather.main.humidity }}%
  <br>
  <h6>{{ weather.weather[0].description }}</h6>
  <br>
  {{ weather | json }} -->
</div>
