<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survey</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <form action="/results" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend>Dojo Survey</legend>
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control">
          <label for="location">Location</label>
          <select name="location" class="form-control">
            <option value="" disabled selected>Select one:</option>
            <option value="MountainView">Mountain View</option>
            <option value="Seattle">Seattle</option>
            <option value="Burbank">Burbank</option>
            <option value="BuenosAires">Buenos Aires</option>
            <option value="Djibouti">Djibouti</option>
          </select>
          <label for="language">Favorite Language</label>
          <select name="language" class="form-control">
            <option value="" disabled selected>Select one:</option>
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Ruby">Ruby</option>
            <option value="Java">Java</option>
            <option value="PHP">PHP</option>
          </select>
          <label for="comments">Comments</label>
          <textarea class="form-control" name="comments" rows=4></textarea>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </fieldset>
      </form>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
