{% extends 'base.html' %}
{% block title %}Dojo Secrets{% endblock %}
{% block body %}
<header>
  <div class="container-fluid">
    <h1>My Secrets</h1>
    <form class="form" action="logout" method="post">
      {% csrf_token %}
      <button type="submit" name="logout-button" class="btn btn-info">Logout</button>
    </form>
  </div>
  <div id="buttons">
    <form class="form" action="/secrets/other_secrets">
      <button type="submit" name="other-secrets" class="btn btn-block btn-warning">Other Secrets</button>
    </form>
    <form class="form" action="/secrets">
      <button type="submit" name="home-button" class="btn btn-block btn-primary">Home</button>
    </form>
    <form class="form" action="/secrets/best_of">
      <button type="submit" name="best-button" class="btn btn-block btn-danger">Best Of</button>
    </form>
  </div>
</header>
<hr>
<div class="container-fluid" id="secret-container">
{% for secret in filter %}
<h3>{{ secret.message }}</h3>
<p>Posted {{ secret.created_at }}</p>
{% endfor %}
</div>
{% endblock %}
