{% extends 'base.html' %}
{% block title %}Dojo Secrets{% endblock %}
{% block body %}
<header>
  <div class="container-fluid">
    <h1>Dojo Secrets</h1>
    <h3>Welcome back, {{ first_name }}!</h3>
    <form class="form" action="logout" method="post">
      {% csrf_token %}
      <button type="submit" name="logout-button" class="btn btn-info">Logout</button>
    </form>
  </div>
  <div id="buttons">
    <form class="form" action="/secrets/my_secrets">
      <button type="submit" name="my-secrets" class="btn btn-block btn-success">My Secrets</button>
    </form>
    <form class="form" action="/secrets/other_secrets">
      <button type="submit" name="other-secrets" class="btn btn-block btn-warning">Other Secrets</button>
    </form>
    <form class="form" action="/secrets/best_of">
      <button type="submit" name="best-button" class="btn btn-block btn-danger">Best Of</button>
    </form>
  </div>
</header>
<hr>
<div class="container-fluid message-container">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h3>{{ message | safe }}</h3>
  </div>
  {% endfor %} {% endif %}
</div>
<div class="container-fluid" id="secret-input">
  <h4>Tell us a secret:</h4>
  <form class="form" action="/tell_secret" method="post">
    {% csrf_token %}
    <textarea name="new-secret" rows="4" maxlength="255" class="form-control"></textarea>
    <button type="submit" name="submit-secret" value="{{ user_id }}" class="btn btn-block btn-danger">Submit</button>
  </form>
</div>
<div class="container-fluid" id="secret-container">
  {% for secret in secrets %}
  <div class="container-fluid" id="repeating-container">
    <h3>{{ secret.message }}</h3>
    <p>Posted {{ secret.created_at }}</p>
    <form class="form" action="/like" method="post"> {% csrf_token %} <button type="submit" name="like-button" value="{{ secret.id }}" class="btn btn-primary">Like!</button></form>
  </div>
  {% endfor %}
  <!-- <i class="fa fa-user-circle" aria-hidden="true"></i>
    <i class="fa fa-user-secret fa-2x" aria-hidden="true"></i> -->
</div>
{% endblock %}
