body {
  text-align: center;
}

input {
  text-align: center;
}

.col-6 {
  text-align: center;
}

.container-fluid {
  margin-top: 30px;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}
