<div class="container-fluid page">
  <div class="container-fluid" *ngIf="products == ''">
    <h2>No products yet.</h2>
  </div>
  <div class="container-fluid" *ngIf="products != ''">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="container-fluid" *ngFor="let product of products; i as index">
        <div class="card align-self-center">
          <div class="card-block">
            <img src="./../../assets/images/{{ product.image }}" alt="product_image">
            <h4 id="name">{{ product.name }}</h4>
            <h4>Price: {{ product.price | currency }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
