<html>

  <head>
    <title>Landing Page Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  </head>

      <body>
        <h1>Ninja Facts</h1>
        <h3>Ninjas rest on top of trees</h3>
        <p>There’s not much to really say about this one. They’re ninjas. It’s what they do.</p>
        <h3>Ninjas carry crickets in their pocket</h3>
        <p>What better way to cover your already muffled footsteps than having a box of crickets chirping away in your pocket? In feudal Japan, those annoying insects were everywhere so they made for an assassin’s best friend.</p>
        <h3>Ninjas don’t make noise when they walk</h3>
        <p>Ninjas are like noise black holes. In fact, some say that the quieter your surroundings get the more ninjas are present.</p>
        <h3>Ninjas use poison…a lot</h3>
        <p>It shouldn’t be surprising considering their job description but ninjas are like the MacGyvers of poison. They could figure out a way to get something poisonous out of an apple peel if they had to. That may be a slight exaggeration but you get the point.</p>
        <h3>Ninjas like to surf</h3>
        <p>Ok, not really, but they do have some pretty cool ways of getting across bodies of water using various inflatable raft and shoe type devices.</p>
        <details>
          <summary>Citation:</summary>
          <p>Got this from http://list25.com/25-things-you-didnt-know-about-ninjas/ :)</p>
        </details>
      </body>

</html>
