html {
  padding:15px;
}

body {
  font-family: 'Inconsolata', monospace;
  width: 95vw;
  min-width: 400px;
  height: auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

.jumbotron {
  border: 2px solid black;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}
