<div class="container-fluid" id="content">
  <h1>Anonymous Notes</h1>
  <form (submit)="addComment()" #formData="ngForm">
    <textarea name="comment" rows="2" class="form-control" [(ngModel)]="post.comment" placeholder="What do you want to say?"></textarea>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
  <div class="container-fluid" *ngFor="let item of posts">
    <h3>{{ item.comment | json  }}, {{ item.createdAt | date:'longDate' }}, {{ item.createdAt | date:'shortTime' }}</h3>
  </div>
</div>
