{% extends "layout.html" %}
{% block title %}
  Friends
{% endblock %}
{% block body %}
  <h1>My Friends</h1>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <form action="" method="post">
          <div class="form-group">
            <h3>Add a Friend</h3>
            <input type="text" class="form-control" placeholder="First Name" name="fname">
            <input type="text" class="form-control" placeholder="Last Name" name="lname">
            <input type="text" class="form-control" placeholder="Age" name="age">
            <input type="date" class="form-control" name="date">
          </div>
        </form>
      </div>
      <div class="col-sm-8">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered table-inverse">
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Friends Since</th>
                <th>Entry Created</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
