
body {
  width: 908px;
  background: #745765;
  border: 5px solid lightgreen;
  font: 15px arial, sans-serif;
  color: 	#786C6C;
}

/* Header */
header {
  height: 60px;
  vertical-align: middle;
  width: 908px;
  background: #F9F9F9;
}

#name {
  display: inline-block;
  margin:10px 0px 0px 20px;
}

#description {
  display: inline-block;
  position: absolute;
  left: 550px;
  top: 14px;
}

/* About Section */
#about {
  margin: 20px 24px;
  position: relative;
}

#picture{
  max-width: 367px;
  height: auto;
  border: 5px solid #AAA8AD;
  display: inline-block;
  margin-right: 21px;
}

#about-box {
  background: #EFEAF0;
  display: inline-block;
  position: absolute;
  top: 0;
  height: 251px;
  width: 462px;
}

.topper  {
  position: absolute;
  max-height: 40px;
  width: 442px;
  background: #878590;
  padding: 10px;
  top: -18px;
}

#about p:first-of-type {
  margin-top: 48px;
}

.friggin-indent {
  margin: 16px 15px;
}

/* Columns */
#columns {
  margin: 0px 1px;
  height: 530px;
}

.apps {
  margin-left: 23px;
  display: inline-block;
}

.grey {
  height: 40px;
  width: 258px;
  background: #878590;
  position: relative;
}

.item {
  margin: auto;
  padding-left: 10px;
}

.content {
  width: 268px;
  height: 270px;
  background: #EFEAF0;
}

.content2 {
  width: 268px;
  height: 150px;
  background: #EFEAF0;
}

.col-img {
  width: 268px;
  height: auto;
}

.top {
  vertical-align: top;
}

.indent {
  position: relative;
  margin: 5px 14px 0px 14px;
}

.grey-center {
  position: absolute;
  top: 10px;
  left: 10px;
}

.grey-center2 {
  line-height:40px;
  width:268px;
  height:40px;
  font-size:1em;
}
